{% extends "base.html" %}
{% block title %}{{ t('titre_bd') }} - Médiathèque{% endblock %}
{% block content %}
<h1>{{ t('titre_bd') }}</h1>
<p class="subtitle">{{ t('choisir_collection') }}</p>

<div class="grid-hub">
    <a href="/bd-mangas/bd" class="carte-hub">
        <span class="hub-icone">💥</span>
        <span class="hub-titre">{{ t('type_bd') }}</span>
        <span class="hub-compte">{{ compteurs.bd }} {{ t('tomes_pluriel') }}</span>
    </a>
    <a href="/bd-mangas/manga" class="carte-hub">
        <span class="hub-icone">🎌</span>
        <span class="hub-titre">{{ t('type_manga') }}</span>
        <span class="hub-compte">{{ compteurs.manga }} {{ t('tomes_pluriel') }}</span>
    </a>
</div>
{% endblock %}
