{% extends "base.html" %}
{% block title %}{{ t('titre_livres') }} - Médiathèque{% endblock %}
{% block content %}
<h1>{{ t('titre_livres') }}</h1>
<p class="subtitle">{{ t('choisir_collection') }}</p>

<div class="grid-hub">
    <a href="/livres/roman" class="carte-hub">
        <span class="hub-icone">📖</span>
        <span class="hub-titre">{{ t('type_roman') }}</span>
        <span class="hub-compte">{{ compteurs.roman }} {{ t('livres_pluriel') }}</span>
    </a>
    <a href="/livres/collection" class="carte-hub">
        <span class="hub-icone">📗</span>
        <span class="hub-titre">{{ t('type_collection') }}</span>
        <span class="hub-compte">{{ compteurs.collection }} {{ t('livres_pluriel') }}</span>
    </a>
    <a href="/livres/cuisine" class="carte-hub">
        <span class="hub-icone">🍳</span>
        <span class="hub-titre">{{ t('type_cuisine') }}</span>
        <span class="hub-compte">{{ compteurs.cuisine }} {{ t('livres_pluriel') }}</span>
    </a>
    <a href="/livres/educatif" class="carte-hub">
        <span class="hub-icone">🎓</span>
        <span class="hub-titre">{{ t('type_educatif') }}</span>
        <span class="hub-compte">{{ compteurs.educatif }} {{ t('livres_pluriel') }}</span>
    </a>
</div>
{% endblock %}
